.container {
    display: flex;
    height:100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem;
}

.side-image{
    height: 100vh
}

.banner {
    flex-grow: 3;
}

.fields {
    flex-grow: 2;
}

.submission {
    flex-grow: 3;
}