body{
    font-family: Roboto;
}

.container {
    display: flex;
    height:100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 1;
}

.side-image{
    height: 100vh
}

.banner {
    flex-grow: 1;
    font-size: 1.5rem;
    background-color: #f8f8f8;
    padding: 2rem
}

.banner-text {
    font-weight: bold;
}

.fields {
    flex-grow: 2;
    padding: 2rem
}

.submission {
    flex-grow: 3;
    background-color: #f8f8f8;
    padding: 2rem
}